* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f1ec;
    color: #3e2f25;
}

.top-menu {
    background: #6b4f3f;
    padding: 15px;
}

.top-menu a {
    color: #f4f1ec;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.side-menu {
    width: 220px;
    background: #6f7f6a;
    padding: 20px;
}

.side-menu a {
    display: block;
    background: #e6dccf;
    color: #3e2f25;
    padding: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    font-weight: bold;
}

/* SUBMENU T1–T6 */
.submenu {
    background: #e6dccf;
    padding: 10px;
    margin-bottom: 20px;
}

.submenu a {
    margin-right: 12px;
    text-decoration: none;
    color: #3e2f25;
    font-weight: bold;
}

main {
    flex: 1;
    padding: 30px;
}

article {
    background: #ffffff;
    padding: 30px;
    border-radius: 6px;
}

article h1 {
    margin-bottom: 15px;
}
/* Estilização de listas */

ul{
list-style: square;
margin-left:20px;
}

ol{
margin-left:20px;
}

/* Estilização de tabela */

table{
width:100%;
border-collapse: collapse;
margin-top:20px;
}

th, td{
border:1px solid #6b4f3f;
padding:10px;
text-align:left;
}

th{
background:#e6dccf;
}

/* Pseudo-classe hover */

a:hover{
color:#309ae7;
}

/* Flexbox */

.layout{
display:flex;
}